<!DOCTYPE html>
<html ng-app="aniFeed">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <style>
        .idx-title {
            white-space: nowrap;
            display: inline-block;
            margin-right: 5px;
        }

        .idx-ctrl {
            margin-top: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <div ng-view></div>
</div>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/app.min.js"></script>
<script src="/js/services.min.js"></script>
<script src="/js/controllers.min.js"></script>
</body>
</html>
